/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

#index-banner {
  min-height: 600px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer.page-footer i {
  color: #00796b;
  font-size: 10em;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer.page-footer i:hover {
  color: #00695c;
}

.card.horizontal {
  margin-top: 2rem;
}

.card.horizontal:last-of-type {
  margin-bottom: 1rem;
}

.card-action a {
  color: #03a9f4 !important;
}

.card-action a:hover {
  color: #81d4fa !important;
}

.container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

footer .container {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

ul ul li {
  margin-left: 1rem;
}