body {
	margin: 0;
}

#pic-wrapper {
/*	background-image: url("stardust/stardust/stardust.png");*/
	background-color: #263238;
	position: relative;
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

#pic-wrapper h1 {
	font-weight: bold;
	letter-spacing: 2px;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

#top-section {
	position: absolute;
	height: 90vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #ecf0f1;
	flex-direction: column;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	top: 5vh;
}

#top-nav {
	position: absolute;
	height: 5vh;
	justify-content: flex-end;
	top: 0;
}

#top-nav a {
	color: #ecf0f1;
	padding-right: 2.5rem;
	cursor: pointer;
    padding-top: 5px;
    font-size: 2rem;
}

#top-nav a:hover {
	text-decoration: underline;
}

#scroll-down {
	position: absolute;
	height: 5vh;
	justify-content: center;
	top: 95vh;
	width: 100%;
}

#scroll-down i {
	color: #ecf0f1;
	font-size: 5vh;
	cursor: grab;
}

.container {
	padding-top: 5rem;
	margin-bottom: 5rem;
}

.container h4, #nav a {
	text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.6rem;
    font-weight: 600;
}

#nav a {
	color: #7f8c8d;
	text-decoration: none;
    padding: 1rem;
}

#nav {
	width: 100%;
	height: 5rem;
	display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 0 5px 6px -6px #777;
    z-index: 99;
    background-color: #fff;
}

.bold {
	font-weight: 600;
}

.container h6 {
	font-weight: 600;
	margin-bottom: .2rem;
}

.container img {
	width: 100%;
}

.wrap {
	line-height: 0;
	position: relative;
	margin-bottom: 4rem;
}

.wrap .content {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
	background-color: rgba(52,73,94, 0.85);
	color: #ecf0f1;
}

.content p {
	line-height: 1.6rem;
	padding-left: 4rem;
	padding-right: 4rem;
	text-align: center;
}

.wrap:last-of-type {
	margin-bottom: 0;
}

#footer {
	width: 100%;
	background-color: #263238;
	text-align: center;
}

#footer i {
	font-size: 10rem;
	padding: 1rem;
	color: #455a64;
}

#footer i:hover {
	color: #546e7a;
}

.container .row {
	padding-bottom: 1rem;
}

.sticky {
	position: fixed;
	top : 0;
	left : 0;
}

@media (max-width: 750px) {
	p, .container li {
		font-size: 1.3em;
	}

	.container h4 {
		font-size: 1.8em;
	}

	.container h6 {
		font-size: 1.4em;
	}

	.content p {
		line-height: 1.8rem;
	}
}
