body {
	margin: 0;
}

#pic-wrapper {
	background-image: url("stardust/stardust/stardust.png");
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

#top-section {
	height: 90vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	color: #ecf0f1;
	flex-direction: column;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#top-nav {
	height: 5vh;
	justify-content: flex-end;
}

#top-nav a {
	color: #ecf0f1;
	padding-right: 2.5rem;
	cursor: pointer;
    padding-top: 5px;
    font-size: 2rem;
}

#top-nav a:hover {
	text-decoration: underline;
}

#scroll-down {
	height: 5vh;
	justify-content: center;
}

#scroll-down i {
	color: #ecf0f1;
	font-size: 5vh;
	cursor: grab;
}

.container {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.container h4, #top-nav a {
	text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 600;
}

.container h4 {
	font-size: 1.6rem;
}

.bold {
	font-weight: 600;
}

.container h6 {
	font-weight: 600;
	margin-bottom: .2rem;
}