---
title: Kexin Zhang
layout: home
permalink: /
---
<section id="home">
    <div class="header">
        <h1>kexin zhang</h1>

        <div class="icons">
            <span><a href="mailto:kxin.zhang@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></span>
            <span><a target="_blank" href="https://www.linkedin.com/in/kexinzhang1"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
            <span><a target="_blank" href="https://github.com/kexin-zhang"><i class="fa fa-github" aria-hidden="true"></i></a></span>
        </div>

    </div>

    {% for section in site.intros %}
        {{ section.content }}
    {% endfor %}

    <div class="border-line"></div>

    <div class="row">
        <div class="six columns">
            <h5>What I've been up to</h5>

            <ul class="blog-posts">
                {% for post in site.posts limit:5 %}
                    <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        </div>

        <div class="six columns">
            <h5>What I'm listening to</h5>
        </div>
    </div>

</section>