<footer class="footer">
	<section id="grid-footer">
		<div id="footer-icons">
			<span><a href="mailto:kxin.zhang@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></span>
			<span><a target="_blank" href="https://www.linkedin.com/in/kexinzhang1"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
			<span><a target="_blank" href="https://github.com/kexin-zhang"><i class="fa fa-github" aria-hidden="true"></i></a></span>
		</div>
		<p><a target="_blank" href="https://github.com/kexin-zhang/kexin-zhang.github.io">Built with ♥ by Kexin Zhang</a></p>
	</section>
</footer>
