<section class="section section-header">
	<section class="grid-header container grid-960">
		<header class="navbar">
		  <section class="navbar-section">
		    <a href="/" class="navbar-brand mr-10">Kexin Zhang</a>
		  </section>
		  <section class="navbar-section">
		    <a href="/" class="btn btn-link">Home</a>
		    <a href="/projects" class="btn btn-link">Projects</a>
		    <a href="/blog" class="btn btn-link">Blog</a>
		    <a href="/resume" class="btn btn-link">Resume</a>
		  </section>
		</header>
	</section>
</section>