<nav class="navbar">
    <div class="container">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link" href="/">Kexin Zhang</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/projects">Projects</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/blog">Blog</a></li>
            <li class="navbar-item"><a class="navbar-link" href="/static/KexinZhangResume.pdf">Resume</a></li>
        </ul>
    </div>
</nav>