@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

html {
    height: 100%;
}
 
 body {
    min-height: 100%;
    height: 100%;
 }

.line {
    fill: none;
    stroke: #10ac84;
    stroke-width: 1px;
}

.parent {
    height: 100%;
    padding: 1% 5%;
}

#chart {
    height: 40%;
}

#hist {
    height: 30%;
}

#chart, #hist {
    padding-bottom: 1em;
}

.bar {
    fill: #10ac84;
    opacity: 0.6;
}

svg text.title {
    font: 10px sans-serif;
    text-anchor: middle;
}