@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.bubble {
    stroke: #16a085;
    stroke-width: 1px;
    fill: #1abc9c;
    opacity: .8;
}

.label {
    font: 8px sans-serif;
    fill: #95afc0;
    text-anchor: middle;
}

.axis text {
    fill: #95afc0;
    font: 8px sans-serif;
}

.axis line, .axis path {
    stroke: #95afc0;
    stroke-dasharray: 2 2;
}

button.active {
  color: #16a085;
  border: 1px solid #1abc9c;
}

#spotify-header {
  text-align: center;
  margin-top: 1em;
}

/* tooltip css */
.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font:10px sans-serif;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
  }
  
  /* Northward tooltips */
  .d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
  }
  
  /* Eastward tooltips */
  .d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0 0;
    top: 50%;
    left: -8px;
  }
  
  /* Southward tooltips */
  .d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
  }
  
  /* Westward tooltips */
  .d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%;
  }