body {
    color: #2d3436;
}

section {
    padding-bottom: 5em;
}

footer {
    text-align: center;
}

a {
    color: #16A085;
}

a:hover {
    color: #2ABB9B;
}

.navbar {
    display: block;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
}

.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #2d3436;
}

.header {
    margin: 2.5em 0;
    text-align: center;
}

#home .header h1 {
    margin-bottom: 0;
}

.border-line {
    height: 1.5em;
    border-top: 1px solid #eee;
}

.icons > span > a {
    font-size: 2em;
}

.icons > span {
    margin-right: 1em;
}

.icons > span:last-of-type {
    margin-right: 0;
}

ul.blog-posts {
    list-style: none;
}

.post-title {
    text-align: center;
    margin: 1.5em 0;
}

.post-title h3 {
    margin-bottom: 0;
}

.svg-center {
  text-align: center;
}

table {
    width: 100%;
}

.post {
    margin-top: 2em;
}

.post p {
    margin-bottom: 0;
}

.post .date {
    color: #b0bec5;
}

.post-link {
    font-size: 1.2em;
}

.post-link a {
    text-decoration: none;
}

footer a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.project {
    margin-top: 3em;
}

.project img {
    width: 100%;
}